name: Build and Release

on:
  push:
    tags:
      - 'release-*'  # Trigger the workflow only on tags that start with "release-"
      - 'doc-*'

jobs:
  build-documentation:
    if: startsWith(github.ref, 'refs/tags/doc-')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Build Documentation
        run: |
          python -m venv venv
          source venv/bin/activate
          python -m pip install sphinx # To generate the documentation
          python -m pip install pylint # To generate the UML
          sudo apt-get install graphviz

          pyreverse -AS -o png -p UML *.py -d UML # make UML
          make docs/html # make the technical documentation

      - name: Commit Changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          git commit -m "Update documentation for ${{ github.ref_name }}"
          git push origin main

  build-linux:
    if: startsWith(github.ref, 'refs/tags/release-')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Build Linux application
        run: |
          python -m venv venv
          source venv/bin/activate
          python -m pip install pyinstaller # To generate the binary/exe

          pyinstaller --onefile --name Carrot-Project-linux game.py

      - name: Upload Linux build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-linux
          path: dist/

  build-windows:
    if: startsWith(github.ref, 'refs/tags/release-')
    runs-on: windows-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Build Windows application
        run: |
          python -m venv venv
          .\venv\Scripts\Activate
          python -m pip install pyinstaller # To generate the binary/exe

          pyinstaller --onefile --name Carrot-Project-windows game.py

      - name: Upload Windows build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-windows
          path: dist/

  create_release:
    if: startsWith(github.ref, 'refs/tags/release-')
    needs: [build-linux, build-windows]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Linux build artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-linux
          path: dist-linux/

      - name: Download Windows build artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-windows
          path: dist-windows/

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Carrot-Project version ${{ github.ref_name }}
          body: |
            Release created using GitHub Actions.
          draft: false
          prerelease: false

      - name: Upload Linux Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist-linux/Carrot-Project-linux
          asset_name: Carrot-Project-linux
          asset_content_type: application/octet-stream

      - name: Upload Windows Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist-windows/Carrot-Project-windows.exe
          asset_name: Carrot-Project-windows.exe
          asset_content_type: application/octet-stream
